.pending-homepage {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #E3E3E3;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.homepage-block {
  margin: 12px 42px 12px 42px;
  padding: 15px;
  background-color: #103C91;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.pending-details {
  font-weight: 900;
}
